.mainTitle {
    font-size: 40px;
    text-align: center;
    color: #fe6b53;
    margin-bottom: 20px;
    user-select: none;
}

.title {
    font-size: 30px;
    text-align: center;
    color: #fe6b8b;
    margin-bottom: 10px;
    user-select: none;
}
