@import-normalize; /* bring in normalize.css styles */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    font-style: normal;
    padding: 15px;
    background-color: #fff4ec;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
    user-select: none;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

button {
    background: linear-gradient(45deg, #fe6b8b, #ff8e53);
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
    user-select: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
